In [12]:
import inventory_opt_and_forecasting_package as inv_opt
import compare_purch_methods as compare
import pandas as pd

inp_data.rio_histories

               item_id        day  actual_sale
0      0-132-004600000 2020-06-23          1.0
1      0-132-004600000 2021-12-21          2.0
2      0-132-004600000 2021-12-29          0.0
3      0-132-004600000 2022-03-08          1.0
4      0-132-004600000 2022-04-23          1.0
...                ...        ...          ...
55244         YA211-25 2023-05-06          1.0
55245         YA211-25 2023-05-12          1.0
55246         YA211-25 2023-05-13          1.0
55247         YA211-25 2023-05-23          1.0
55248         YA211-25 2023-05-25          1.0

[55249 rows x 3 columns]

In [13]:
inp_data = inv_opt.get_raw_data()

pn = '39-188'

inp_data.rio_histories[inp_data.rio_histories['item_id'].isin(['39-188'])]



#sim_input_his = inp_data.create_rio_his_test_data(pn)
#sim_rio_items = inp_data.create_rio_items_test_data(pn)
#sim_rio_item_details = inp_data.create_rio_item_details_test_data(pn)
#sim_rio_on_order = inp_data.create_on_order_test_data(pn)
#sim_rio_item_details = inp_data.create_rio_item_details_test_data(pn)

     item_id        day  actual_sale
7753  39-188 2023-05-29          0.0